/* 
    Document   : cssTreg1
    Created on : 16-nov.-2009, 13:27:16
    Author     : djaghloul
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* ---- ( iTunes CSS ) ---- */

/*table {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
	border-top: none;
}
table a {
	text-decoration: underline;
}
table a:visited {
	text-decoration: none;
}
tr.odd {
	background-color: #ebf3ff;
}
tr a {
	color: #000000;
}
tr:hover a {
	color: #ffffff;
}
tr:hover, tr.odd:hover {
	background-color: #3d80df;
	color: #ffffff;
}

thead th {
	font-size: 105%;
	color: #000;
	background:gray url(tbar.gif) repeat-x;
	height: 33px;
}
/*thead th:hover {
	background: #ffffff url(tbov.gif) repeat-x;

}*/
#UTR
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/*margin: 45px;
	width: 480px;*/
	text-align: left;
	border-collapse: collapse;
}
#UTR th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#UTR td
{
	padding: 8px;
	background: #e8edff;
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#UTR tr:hover td
{
	background: #d0dafd;
	color: #339;
}

  

#UTRtd pre {
    font-size:14;

}





root { 
    display: block;
}
#closePathBuilder{
    background-image: url(no.png);
    background-repeat: no-repeat;
    background-color:transparent;
    position:absolute;
    right:0px;
    width:20px;
    height:20px;
    /*button_cancel*/
    
}
.divstandard{
    position:relative;
    background-color:SlateGray  ;
    font-size:14px;
    height:auto;


    border-style:solid;
    border-width:1px;
}


#propertiesDiv{
    position:relative;
    float:right;
    background-color:transparent ;
    font-size:16px;

    width:50%;
    height:95%;

    
    
}
/* The heeader of the tw boxes  */
div.boxHeader{
    position:relative;
    
    background-color:#D5E4F6;
    
    font-size:16px;

    width:100%;
    height:10%;
    

    border-style:none;
    border-width:1px;
}
div.boxHeader h1{
    color:black;
    font-size:18px;
    margin-top: 0;
    
}
h1 {
    color:white;
    font-size:22px;
    margin-top: 0;
}

/*  the div tof the class container ( context  header) */
#classesDiv{
position:relative;
    float:left;
    background-color:transparent ;
    font-size:16px;

    width:45%;
    height:95%;

    border-style:none;
    border-width:1px;

}


/* the diw that contanes the classes */
div.contextClassesStyle{
    position:relative;
    overflow:auto;
    background-color:white ;
    font-size:16px;

    width:100%;
    height:85%;

   /* border-style:none;
    border-width:0px;*/
}
/* the div that containes the properties of the class */
div.contextPropertiesStyle{
    /*position:relative;*/
    float:right;
    overflow:auto;
    background-color:White ;
    font-size:14px;
    width:100%;
    height:85%;
    border-style:none;
    border-width:0px;
}


/* chrome light =#E8EEF7
chrome title = #C3D9FF
*/

/*#divPathWizard h1{
    color:black;
    font-size:22px;
    margin-top: 0;
}*/
#utrmenu{
    position:relative;
    background-color: #C3D9FF;
}
#utrDiv{
    background-color:#E8EEF7;
    overflow:auto;
    height:100%;
}

div.divlistInstances{
    background-color:silver;
    font-size:14px;


    border-style:solid;
    border-width:1px;
}


div.divclass{
    background-color:orange;
    font-size:14px;

    float:left;
    border-style:solid;
    border-width:1px;
}


div.divSepclass{
    background-color:maroon;
    font-size:14px;

    border-style:none;
    border-width:2px;
}
div.divproperties{


    float:none;
    background-color:fuchsia;
    font-size:12px;

    border-style:solid;
    border-width:2px;
}


#propertyBinding{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    

    background:#E8EEF7 ;
    /*padding: 5px;*/
    margin-top:-75px;
    margin-left:-200px;

    border-style:solid;
    border-width : 3px;
    border-color:#9BB7EA;
   

    /*border-style:solid;*/
    /*border-width:1px;*/

    /*visibility:hidden;*/
}
.utrTemplate{
background-image: url(fsview.png);
background-repeat: no-repeat;
background-color:transparent;/* : AliceBlue;*/
padding-top:120px;
text-align:center;
margin-left:10px;
margin-top:10px;
font-size:11px;
height: 140px;
width: 145px;
 
}

.utrTemplate:hover{
background-image: url(folder_yellow.png);
background-repeat: no-repeat;
background-color:#E8EEF7;/* : AliceBlue;*/
padding-top:119px;
text-align:center;
margin-left:10px;
margin-top:10px;
font-size:11px;
height: 140px;
width: 145px;

}


.classInfos{
background-image: url(folder_yellow.png);
background-repeat: no-repeat;
background-color:transparent;/* : AliceBlue;*/
padding-top:120px;
text-align:center;
margin-left:10px;
margin-top:10px;
font-size:11px;
height: 140px;
width: 145px;
 
}

.classInfos:hover{
background-image: url(folder_yellow.png);
background-repeat: no-repeat;
background-color:#E8EEF7;/* : AliceBlue;*/
padding-top:119px;
text-align:center;
margin-left:10px;
margin-top:10px;
font-size:11px;
height: 140px;
width: 145px;

}

.property{
background-image: url(folder_blue_open.png);
background-repeat: no-repeat;
background-color:transparent;
/*padding-top:128px;*/
padding-left:35;
text-align:left;
font-size:12px;
height: 35px;
margin-left:2%;
width: 95%;

}
.property:hover{
background-image: url(folder_blue_open.png);
background-repeat: no-repeat;
background-color:#E8EEF7;
/*padding-top:128px;*/
padding-left:35px;
text-align:left;
font-size:14px;
margin-left:0%;

height: 45px;
width: 100%;

}

#menuPathWizard{
    position:relative;
    height:29px;
    background:#9BB7EA;/*#98C1F4 ;*/
}

#divPathWizard{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 420px;

    background:whiteSmoke ;
    /*padding: 5px;*/
    margin-top:-210px;
    margin-left:-400px;
    /*border:2px solide #3366FF;*/
    border-width : 3px;
    border-color:#9BB7EA;
}

#columnBuilder{
  background-image: url(edit_add.png);
  background-repeat: no-repeat;
  padding-left:18px;
  
}
#manageUtr{
  background-image: url(tables.gif); /*url(view_multicolumn.png);*/
  background-repeat: no-repeat;
  padding-left:18px;

}
#saveUtrBtn{
  background-image: url(save_all.png);
  background-repeat: no-repeat;
  padding-left:18px;

}
#cancelUtrManager{
  background-image: url(revert.png);
  background-repeat: no-repeat;
  padding-left:18px;

}



#deleteListRows{
  background-image: url(no.png);
  background-repeat: no-repeat;
  padding-left:18px;
  position:relative;
  
}
.pieStatClass{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    height: 400px;

    background-color:black ;
    /*padding: 5px;*/
    margin-top:-200px;
    margin-left:-270px;
    
}
#backClass{
  background-image: url(undo.png);
  background-repeat: no-repeat;
  padding-left:14;
}
.infoColumnClass{
  background-image: url(chartpie_1.png);
  background-repeat: no-repeat;
  padding-left:14;
}
.deleteColumnClass{
    background-image: url(no.png);
  background-repeat: no-repeat;

}

#utrTemplateManager{
    position:absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 400px;

    background:whiteSmoke;
    /*padding: 5px;*/
    margin-top:-200px;
    margin-left:-250px;
    border : 3px solid #9BB7EA;
}
#utrTempateMenu{
    position:relative;
    background-color: #C3D9FF;
    width:100%;
    height:15%;
   /* border:1px solid white;*/
}

#utrTemplateModelList{
    position:relative;
    width:100%;
    height:80%;
    overflow:auto;

    background:white;
    /*padding: 5px;*/

    /*border:2px solide #3366FF;*/

}
#utrTemplateTitle{
    position:relative;
    width:100%;
    height:5%;
    background-color: #C3D9FF;
    
    
}