/**
* Styles used in the resultList.tpl template
*/
/*The facet based used to fitler delivery results */
#filter-container {
    width:19%;
}

/*The workspace */
.main-container {
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;

}

/*The grid of delivery results according to the filters */
#inspect-results-container {
    padding:0px;
    overflow:hidden;
}

.ui-jqgrid-bdiv{
    width:100% !important;
}

th td tr tbody table .ui-jqgrid tr.jqgrow td{
    padding:0px !important;
    margin:0px !important;
    border: 0px !important;
}


#buildTableButton{
   position: relative;
   top: 15px;  
}
