/* 
    Document    : result
    Created on  : Mar 15, 2013, 2:25:29 PM
    Author      : Patrick Plichart, <patrick@taotesting.com>
    Description : Purpose of the stylesheet follows.
*/

body {
	background-color: #eee;
	font-family: Verdana, Arial, sans-serif;
	color: #3A3A3A;
}

h1 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 35px;
}

#main {
	background-color: white;
	background-position: 530px 30px;
	min-height: 320px;
	width: 740px;
	padding: 40px;
	background-repeat: no-repeat;
	margin: 100px auto;
}

#content {	
	padding : 20px;
}

p {
	font-size:14px;
	text-align: justify;
	font-weight:normal;
	line-height:18px;
	position:relative;
	margin-bottom: 10px;
}

p strong {
	font-weight: bold;	
}

#TestTakerIdentification {
	font-style:italic;
}

#TestTakerIdentification {
	font-style:italic;
}

#name {
	font-weight:bold;
}

#login {
	text-decoration: underline;
}

.itemName {
    font-size:15px;
    text-decoration: underline;
}
.itemModel {
	font-style:italic;
}
.dataResult {
    font-weight:bold;
    text-align:right;
    
}

.resultsTable {
	border-collapse: collapse;
}

.resultsTable .headerRow {
    background-color:#bbbbbb;
    text-align:center;
}


.row1 {
    background-color:#eeeeee;
}

tr td {
    padding:20px;
}

.epoch {
    font-style:italic;
}

.ui-jqgrid .ui-jqgrid-htable th div{
    overflow: hidden;
    height:40px;
    vertical-align:text-top;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
	margin-top: -3px
}

#results-custom-table-actions {
	margin: 15px 0;
}

#results-custom-table-actions > div {
	margin-bottom: 15px;
}

#results-custom-table-tools {
	margin-top: 15px;
}

#result-table-container {
	margin: 4px;
}

#result-table-grid {
	border: none;
}