/**
* Styles used in the resultList.tpl template
*/
#filter-container { width:19%;}
.main-container { width:80%;height:584px; padding:0; margin:0; overflow:hidden !important; }

#monitoring-processes-container {
    padding:0;
    height:80%;
    overflow:hidden;
}

#buildTableButton{
   
    padding : 20px;
   
}